<%- include("../partials/navbar") %> 

<section class="web-title-section">

    <div class="web-title">
        <h2> <span>S</span>ome of <span>M</span>y works</h2>
    </div>

</section>
<section class="web-work">
    <div class="card">
        <div class="desk">
            <div class="box textbox">
                <div class="info">
                    <h2>Jdev Coffee</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam itaque numquam eius maxime quos?</p>      
                    <button class="btn"> <a href="">Visit Website</a></button> 
                </div>
            </div>
        </div>
        <div class="desk">
            <div class="box">
                <img src="images/website1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="card reverse">
        <div class="desk">
            <div class="box textbox">
                <div class="info">
                    <h2>Jdev Coffee</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam itaque numquam eius maxime quos?</p>      
                    <button class="btn"> <a href="">Visit Website</a></button>
                
                </div>
            </div>
        </div>
        <div class="desk">
            <div class="box">
                <img src="images/website1.jpg" alt="">
            </div>
        </div>
    </div>  
    <div class="line"></div>
    <div class="card">
        <div class="desk">
            <div class="box textbox">
                <div class="info">
                    <h2>Jdev Coffee</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam itaque numquam eius maxime quos?</p>      
                    <button class="btn"> <a href="">Visit Website</a></button>
                
                </div>
            </div>
        </div>
        <div class="desk">
            <div class="box">
                <img src="images/website1.jpg" alt="">
            </div>
        </div>
    </div>  
    <div class="line"></div>
    <div class="card reverse">
        <div class="desk">
            <div class="box textbox">
                <div class="info">
                    <h2>Jdev Coffee</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam itaque numquam eius maxime quos?</p>      
                    <button class="btn"> <a href="">Visit Website</a></button>
                
                </div>
            </div>
        </div>
        <div class="desk">
            <div class="box">
                <img src="images/website1.jpg" alt="">
            </div>
        </div>
    </div>  
    <div class="line"></div>
    <div class="card">
        <div class="desk">
            <div class="box textbox">
                <div class="info">
                    <h2>Jdev Coffee</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam itaque numquam eius maxime quos?</p>      
                    <button class="btn"> <a href="">Visit Website</a></button>
                </div>
            </div>
        </div>
        <div class="desk">
            <div class="box">
                <img src="images/website1.jpg" alt="">
            </div>
        </div>
    </div>      
</section>
<div class="fixed-btn">
    <button class="fixedbtn">Contact Us</button>
</div>



<%- include("../partials/footer.ejs") %> 